/*REGOLE PER IL LAYOUT*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100% - 100px);
    background-color: rgb(16, 19, 25);
    width: 100%;
    /* margin-bottom: 100px; */
}

main::after {
    content: '';
    display: table;
    clear: both;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
}

.sidebar {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #000;
    min-height: 412px;
}

.sidebar-top {
    height: calc(100% - 80px - 80px);
    width: 100%;
}

.sidebar-bottom {
    height: 80px;
    width: 100%;
    background-color: #000;
    z-index: 999;
}

.container {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
    overflow-y: auto;
}

/*REGOLE PER LA SIDEBAR*/
/*regole per il logo*/
#logo {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

#logo img {
    width: 60%;
}

#small-logo {
    display: none;
}

#small-logo img {
    width: 30px;
    height: 30px;
}

/*regole per sidebar-top*/
.sidebar-top li {
    padding: 8px 0px;
}

.sidebar-top ul {
    list-style: none;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.links ul li {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}

.links ul #home a:hover, .links ul #search a:hover, .links ul #mylibrary a:hover  {
    color: #fff;
}

.links ul #home:hover, .links ul #search:hover, .links ul #mylibrary:hover {
    border-left: #93dd25 2px solid;
}

.links ul li img {
    width: 20px;
    height: 20px;
    /* margin-left: 15px; */
    margin-right: 5px;
}

.links ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.playlist {
    margin-left: 15px;
    /* overflow: hidden; */
}

.sidebar-top .playlist h3 {
    color: #fff;
    padding: 5px 0px;
}

.sidebar-top .playlist a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-top .playlist i {
    color: #000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-top .playlist a:hover {
    color: #fff
}

.sidebar-top .playlist a:hover .fa-plus {
    background-color: #fff;
}

.sidebar-top .playlists li {
    color: rgba(255, 255, 255, 0.5);
}

.playlists {
    overflow-y: auto;
    margin-left: 15px;
}

.playlists li:hover {
    color: #fff;
}
/*regole per sidebar-bottom*/
.sidebar-bottom {
    padding: 15px;
}

.install-app, .profile {
    display: flex;
    align-items: center;
}

.sidebar-bottom .install-app {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.sidebar-bottom .profile{
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-bottom .install-app img {
    width: 15px;
    height: 15px;
}

.sidebar-bottom .profile img {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 50%;
}

.sidebar-bottom .profile p {
    color: #fff;
}
/*REGOLE PER CALL TO ACTION*/
.container .cta {
    width: 100%;
    height: 80px;
    background-color:rgba(0, 0, 0, 0.3);
    text-align: right;
    line-height: 80px;
    padding-right: 10px;
}

.cta .upgrade a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
}

.cta .upgrade a:hover {
    padding: 7px 21px;
}

/*REGOLE PER IL NAV-MAIN*/
main nav {
    width: 100%;
}

.nav-main ul {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-main ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    padding: 0px 8px;
}

.nav-main ul .active::after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #93dd25;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

/*REGOLE PER IL MAIN*/
.container-main section {
    margin: 20px;
}

ul.flex.row-links {
    display: flex;
    flex-wrap: wrap;
}

.row-item {
    width: calc(100% / 6 - 10px);
    margin: 10px 10px 10px 0px;
    flex-shrink: 0;
    list-style: none;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.img-container {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay i {
    font-size: 50px;
    color: #fff;
}

.row-item:hover .img-overlay {
    opacity: 1;
}

.text-container h3 {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.text-container p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

/*stilizzazione testi main*/

#played h2, #created-for h2, #popular h2 {
    color: #fff;
}

p.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding-bottom: 10px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}

/* REGOLE PER IL FOOTER */
/*regole generali*/
footer .flex {
    display: flex;
}

footer .flex-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flex-sx, .flex-center, .flex-dx {
    flex-shrink: 1;
}

/* footer sx */
footer .flex-sx {
    justify-content: center;
    align-items: center;
    width: 250px;
}

.play-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.play-img img {
    width: 100%;
}

footer .play-title {
    flex-direction: column;
    margin-right: 20px;
}

footer .play-title div:hover {
    color: #fff;
    text-decoration: underline;
}

.play-title h3 {
    color: #fff;
    font-size: 13px;
}

.play-title div {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}

.heart i, .folder i {
    color: rgba(255, 255, 255, 0.5);
}

.heart i:hover {
    color: #fff;
}

.folder i:hover {
    color: #fff;
}

.heart, .folder {
    margin-right: 10px;
}

/* footer center */
footer .flex-center {
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.center-top {
    justify-content: center;
    align-items: center;
}

.flex-center .center-top i {
    color: #fff;
    margin: 0 30px;
}

.flex-center .center-top i:hover {
    cursor: pointer;
}

.big-one {
    font-size: 35px;
}

.flex-center .center-bottom {
    justify-content: space-between;
    align-items: center;
}

.current-time, .total-time {
    width: 10%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.minutes-lines {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 5px;
    border-radius: 5px;
}

.progress-lines {
    width: 20%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #fff;
    right: 0;
    transform: translateY(-33%);
    display: none;
}

.progress-lines:hover .point {
    display: block;
}

.progress-lines:hover {
    background-color: green;
    cursor: pointer;
}

/*footer dx*/
footer .flex-dx {
    width: 250px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.flex-dx div i {
    margin: 0px 5px;
}

.flex-dx i {
    color: #fff;
}

.flex-dx .minutes-lines {
    width: 60px;
}

.flex-dx .progress-lines {
    width: 40%;
}


/*RESPONSIVE*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .row-item {
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .row-item {
        width: calc(100% / 2 - 10px);
    }

    footer .play-title, .heart, .folder, footer .flex-dx i.fa-tv, footer .flex-dx i.fa-volume-up, footer .flex-dx .minutes-lines {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .row-item {
        width: calc(100% / 2 - 10px);
    }

    .sidebar {
        width: 40px;
    }

    .container {
        width: calc(100% - 40px);
        margin-left: 0;
    }

    .playlist {
        display: none;
    }

    .playlists {
        display: none;
    }

    .sidebar-top .links a {
        display: none;
    }

    .links ul li img {
        margin-left: 0;
        margin-right: 0;
    }
    
    .links ul li {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    #small-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #logo {
        display: none;
    }

    .sidebar-bottom .install-app {
        border-bottom: 0px;
    }

    .sidebar-bottom p {
        display: none;
    }

    .sidebar-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    footer .play-title, .heart, .folder, footer .flex-dx i.fa-tv, footer .flex-dx i.fa-volume-up, footer .flex-dx .minutes-lines, footer .flex-center .center-top i.fa-random, footer .flex-center .center-top i.fa-redo {
        display: none;
    }
}